<form action='/edit' method='post'>
<input type='text' name='new_title' placeholder='Enter new title'>
<input type='text' name='new_url' placeholder='Enter new URL'>
<input type='submit' value='Save changes'>
</form>
